body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 10px;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px; /* Define a largura máxima da caixa */
  max-width: 100%; /* Garante que a caixa não ultrapasse o tamanho da tela */
  text-align: center;
  box-sizing: border-box; /* Inclui padding e border na largura */
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 200px; /* Ajusta a largura para não ultrapassar o limite */
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box; /* Inclui padding na largura do input */
}

button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}

button:hover {
  background-color: #218838;
}

#resultado {
  margin-top: 20px;
  text-align: left;
}
